.recommended-friends {
  padding: 25px 0px;
  border-top: var(--main-border);
  border-bottom: var(--main-border);
}
.recommended-friends_title {
  font-size: 14px;
  color: rgba(0, 0, 0, 0.5);
}
.recommended-friends span {
  margin: 110px 0px;
  display: block;
  text-align: center;
  font-size: 18px;
  color: rgba(0, 0, 0, 0.5);
}
.open-caht_header {
  margin-top: 10px;
}
.open-caht_header {
  display: flex;
  justify-content: space-between;
  opacity: 0.8;
  margin-bottom: 25px;
}
.open-caht_header span {
  opacity: 0.6;
}
.open-post {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.open-caht_title {
  font-weight: 600;
  margin-bottom: 10px;
}
.open-post_hashtags {
  text-transform: uppercase;
  opacity: 0.6;
}
.open-post_members {
  margin-top: 7px;
  display: flex;
  align-items: center;
}
.open-post_members img {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  margin-right: 5px;
}
.open-post_member-count {
  opacity: 0.5;
  font: 14px;
}
.open-post_members .divider {
  width: 2px;
  height: 10px;
  margin: 0 5px;
  background-color: rgba(0, 0, 0, 0.2);
}
.open-post_member-status {
  color: #f094cb;
}
.open-post_photo {
  position: relative;
}
.open-post_photo img {
  width: 120px;
  height: 120px;
  border-radius: 10px;
}
.open-post_heart-count {
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  padding: 5px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  position: absolute;
  bottom: 10px;
  right: 10px;
  font-size: 12px;
}
.open-post_heart-count span {
  margin-left: 3px;
}

@keyframes heartBeat {
  0% {
    color: white;
  }
  50% {
    color: rgb(209, 72, 95);
    transform: scale(2);
  }
  100% {
    color: white;
  }
}

.open-post_heart-count:hover i {
  will-change: transform;
  animation: heartBeat 1s linear infinite;
}
